#title{
    font-family: "Segoe Print", "Comic Sans MS", Verdana; 
    font-size: 50px;
}
.titleLink{
    text-decoration: none;
    color: black;
    font-family: "Segoe Print", "Comic Sans MS", Verdana; 
    font-size: 50px;
}

h2 {
  font-weight: 1000;
  font-size: 30px;
}
.headerLink {
    text-decoration: none;
    color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 5fr;
  gap: 10px;
  background-color: palevioletred;
  padding: 10px;
}

.grid-container > div {
  background-color: #f1f1f1;
  text-align: left;
  padding: 10px;
  font-size: 20px;
}

.item1 {
  grid-column: 1 / span 2;
  line-height: 1;
}
.item2 {
  grid-row: 1 / span 2;
  grid-column: 3
}

.progress-bar {
    width: 100%;
    background-color: #f0f0f0;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    margin-bottom: 10px;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
}

.xp_menu {
  width:100%;
  border: 1px solid #ddd;
  border-collapse: collapse;

}

.xp_menu > th,td {
  padding: 15px;
  border: 1px solid #ddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

